/* Reset some default styling */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply basic styling to body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Style the heading */
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem; /* Adjust the font size as needed */
    color: #3498db; /* Text color */
    text-align: center;
    margin-bottom: 20px; /* Add some spacing below the heading */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}

/* Optional: Add animation to the heading for a beautiful effect */
h1:hover {
    transform: scale(1.05); /* Scale up the heading on hover */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition */
    color: #e74c3c; /* Change text color on hover */
}


/* Center the form container */
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style input groups */
.input-group {
    display: flex;
    flex-wrap: wrap; /* Allow input groups to wrap on smaller screens */
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-with-mic {
    flex: 1;
    display: flex;
    align-items: center;
}

.input-with-mic label,
.input-with-mic input {
    margin: 0;
}

/* Style radio group */
.radio-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.radio-group label {
    margin-bottom: 5px;
}

.radio-input {
    display: flex;
    align-items: center;
}

.radio-input label {
    margin: 0;
    margin-left: 5px;
}

/* Style microphone icons */
.microphone-icon {
    margin-left: 10px;
    cursor: pointer;
    color: #3498db;
    transition: color 0.3s; /* Add transition effect for smooth color change */
}

.microphone-icon.active {
    color: #e74c3c; /* Change to your preferred active color */
}

/* Keyframes animation for color shift */
@keyframes colorShift {
    0% { color: #3498db; } /* Initial color */
    50% { color: #e74c3c; } /* Midpoint color */
    100% { color: #3498db; } /* Return to initial color */
}

.microphone-icon.shifting {
    animation: colorShift 1s infinite; /* Apply the animation */
}

/* Style textarea and file input */
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style submit button */
input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

/* Apply media queries for responsive design */
@media screen and (max-width: 600px) {
    .input-group {
        flex-direction: column;
    }

    .input-with-mic,
    .radio-group {
        margin-bottom: 15px;
    }
}
